
<h1>My Dashboard</h1>
<mat-card>
  <mat-card-title id="title">Angular Startseite</mat-card-title>
  <mat-card-content id="content">Go To AngularStart!</mat-card-content>
  <div id="container">
    <div></div>
    <div id="innerdiv" class="86">
        <button mat-fab routerLink="ng">
          <mat-icon>home</mat-icon>
        </button>
    </div>
  </div>
</mat-card>
<mat-card>
  <mat-card-title id="title">Hello World Seite</mat-card-title>
  <mat-card-content id="content">Go To HelloWorld!</mat-card-content>
  <div id="container">
    <div></div>
    <div id="innerdiv" class="86">
      <button mat-fab routerLink="hw">
        <mat-icon>bug_report</mat-icon>
      </button>
    </div>
  </div>
</mat-card>

<mat-card>
  <mat-card-title id="title">Gallery Seite</mat-card-title>
  <mat-card-content id="content">Go To Gallery!</mat-card-content>
  <div id="container">
    <div></div>
    <div id="innerdiv" class="86">
      <button mat-fab routerLink="gallery">
        <mat-icon>bug_report</mat-icon>
      </button>
    </div>
  </div>
</mat-card>
